@import "./../../Styles/variables";
@import "./../../Styles/mixins";

.btn {
  @include generalTextFormatting;
  border: none;
  background-color: $color-primary;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: $box-shadow;
  &:hover {
    @include zoomEffectAnimation;
    background-color: $color-primary-dark;
  }

  &:active {
    transform: translateY(1px) scale(1.015);
    box-shadow: $box-shadow;
  }

  &-primary {
    padding: 1.5rem 3rem;

    @media only screen and(max-width: 26em) {
      padding: 1.5rem 2rem;
    }
  }
}

.flex-start {
  margin: 0 auto 0 0;
}
