@import "./../../../Styles/variables";
.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 0;
  letter-spacing: 1px;

  @media only screen and(max-width: 50em) {
    font-size: 1.6rem;
  }
}
