$color-primary: #717871;
$color-primary-dark: #666c66;
$color-primary-light: #7f867f;
$color-primary-extra-light: #d4d7d4;
$color-primary-extra-light-2: #e3e4e3;
$color-primary-extra-light-3: #f1f2f1;
$color-primary-extra-dark: #081108;
$color-primary-dark-1: #173418;

$color-white: #fff;
$color-black: #000;

$color-grey: #444444;
$color-grey-light-1: #b4b4b4;
$color-grey-light-2: #ececec;

$box-shadow: rgba($color-black, 0.2) 0px 0.7rem 2.9rem 0px;
$box-shadow-hover: rgba($color-black, 0.3) 0px 0.8rem 3rem 0px;
