@import "./../../Styles/variables";
@import "./../../Styles/mixins";

.card {
  padding: 2.5rem 5rem;
  box-shadow: $box-shadow;
  z-index: 2;
  transition: all 0.2s;
  &:hover {
    @include zoomEffectAnimation;
  }
  @media only screen and(max-width: 75em) {
    padding: 2rem 4rem;
  }
  @media only screen and(max-width: 62.5em) {
    padding: 1.5rem 2rem;
  }
}

.card-dark {
  background-color: $color-primary-dark-1;
}

.card-light-dark {
  background-color: $color-primary-light;
}

.card-light {
  background-color: $color-primary-extra-light-3;
}

.card-white {
  background-color: $color-white;
}
