@import "./../../Styles/mixins";
@import "./../../Styles/variables";

.testimonial {
  padding: 4rem 0;
  @include gridLayout(auto, repeat(2, 1fr), 0, 1rem);
  &-main {
    @include flexLayout(flex-start, center, column, 2rem);
    &--container {
      @include gridLayout(auto, repeat(2, 1fr), 3rem, 2rem);
      @media only screen and(max-width: 62.5em) {
        row-gap: 1.5rem;
        column-gap: 1rem;
      }

      @media only screen and(max-width: 50em) {
        column-gap: 3rem;
      }

      @media only screen and(max-width: 26em) {
        grid-template-columns: 1fr;
      }
    }
    &__data {
      @include flexLayout(flex-start, flex-start, column, 1rem);

      & img {
        width: 30%;
        border-radius: 50%;
      }

      &--text {
        font-size: 1.4rem;
        color: $color-primary-dark-1;
        line-height: 1.4;
      }

      &--author {
        font-size: 1.2rem;
        color: $color-grey-light-1;
        font-style: italic;
      }
      @media only screen and(max-width: 50em) {
        padding: 2rem 0;
      }
    }
    @media only screen and(max-width: 50em) {
      align-items: flex-start;
    }
  }

  @media only screen and(max-width: 62.5em) {
    column-gap: 2rem;
  }
  @media only screen and(max-width: 50em) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding: 2rem 0;
  }
}

.gallery {
  @include gridLayout(auto, repeat(3, 1fr), 2rem, 2rem);
  & img {
    width: 100%;
    transition: all 0.3s;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &:hover {
      transform: scale(1.03);
      box-shadow: $box-shadow-hover;
    }
  }
  @media only screen and(max-width: 62.5em) {
    row-gap: 0rem;
  }

  @media only screen and(max-width: 50em) {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
  }

  @media only screen and(max-width: 26em) {
    grid-template-columns: repeat(3, 1fr);
  }
}
